################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Adroit_v8/FileContentIndex/ea8fb553-8fe5-4f69-8ba8-b6b25feff388.vsidx
/.vs/Adroit_v8/DesignTimeBuild/.dtbcache.v2
/.vs/Adroit_v8/FileContentIndex/eebd77c6-a475-48c1-94dc-9425d07ad757.vsidx
/.vs/Adroit_v8/FileContentIndex/4bc358b3-ebf9-41da-8964-b6d29c34ecdb.vsidx
*.vsidx
