################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Adroit_v8/FileContentIndex/ea8fb553-8fe5-4f69-8ba8-b6b25feff388.vsidx
